ErrorDocument 404 http://codemenow.com/404
RewriteEngine on
RewriteRule ^user/([A-Za-z0-9-]+)/?$ user.php?usrname=$1	 [NC,L]
RewriteRule ^login/?$ login.php	 [NC,L]
RewriteRule ^signup/?$ register.php	 [NC,L]
RewriteRule ^course/?$ course.php	 [NC,L]
RewriteRule ^home/?$ index.php	 [NC,L]
RewriteRule ^course/([0-9]+)/?$ coursepage.php?id=$1	 [NC,L]
RewriteRule ^logout/?$ logout.php	 [NC,L]
RewriteRule ^sent/?$ sent.php	 [NC,L]
RewriteRule ^successful/?$ passchanged.php	 [NC,L]
RewriteRule ^msent/?$ messagesent.php	 [NC,L]
RewriteRule ^failed/?$ unsuccessful.php	 [NC,L]
RewriteRule ^support/?$ support.php	 [NC,L]
RewriteRule ^404/?$ 404.php	 [NC,L]
RewriteRule ^tech_support/?$ tech_support/index.php	 [NC,L]
RewriteRule ^gen_setting/?$ settings_for_mobile/general.php	 [NC,L]
RewriteRule ^pass_setting/?$ settings_for_mobile/password.php	 [NC,L]
RewriteRule ^pic_setting/?$ settings_for_mobile/profile_pic.php	 [NC,L]
RewriteRule ^techsupport/?$ tech_support/index.php	 [NC,L]
RewriteRule ^termsandcondition/?$ about/terms_and_condition.php	 [NC,L]
RewriteRule ^about/?$ about/about.php	 [NC,L]
RewriteRule ^reset/?$ resetlink.php	 [NC,L]
RewriteRule ^review/?$ review.php	 [NC,L]
RewriteRule ^revsent/?$ rev_sent.php	 [NC,L]
RewriteRule ^rpassword/([0-9]+)/([0-9]+)/?$ resetpassword.php?id=$1&code=$2	 [NC,L]
RewriteRule ^setting/?$ settings.php	 [NC,L]
RewriteRule ^profile/?$ profile.php	 [NC,L]
RewriteRule ^dashboard/([0-9]+)/?$ dashboard.php?id=$1	 [NC,L]
RewriteRule ^course/python/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/python-ide.php?id=$1	 [NC,L]
RewriteRule ^course/javascript/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/javascript-ide.php?id=$1	 [NC,L]
RewriteRule ^course/cplusplus/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/c++-ide.php?id=$1	 [NC,L]
RewriteRule ^course/c/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/c-ide.php?id=$1	 [NC,L]
RewriteRule ^course/htmlcss/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/htmlcss-ide.php?id=$1	 [NC,L]
RewriteRule ^course/ruby/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/ruby-ide.php?id=$1	 [NC,L]
RewriteRule ^course/perl/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/perl-ide.php?id=$1	 [NC,L]
RewriteRule ^course/sql/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/sql-ide.php?id=$1	 [NC,L]
RewriteRule ^course/terminal/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/terminal-ide.php?id=$1	 [NC,L]
RewriteRule ^course/php/beginnercoursef/asdfa8201([0-9]+)2122sdfasdfid=08012000/?$ /ide/php-ide.php?id=$1	 [NC,L]
